.sticky-header();

.nav {
    .max-desktop-width();

    span {
        color: @primary-color;
    }

    .logo {
        margin-left: 1.6rem;
        width: 150px;
        position: relative;
        z-index: 10;
    }
    
    .menu {
        text-align: right;
        position: absolute;
        top: 0.8rem;
        width: 100%;

        ul {
            display: none;
            background-color: @white;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
                 box-shadow: 0 10px 6px -6px #777;
        }

        ul li {
            color: @secondary-color;
            line-height: 70px;
            border-bottom: 2px solid @light-grey;
            text-align: center;
            display: block;

            .active-page {
                color: @faded-secondary-color;
            }
        }

        label {
            margin-right: 2.4rem;
            font-size: 2.4rem;
            color: @secondary-color;
            cursor: pointer;
        }

        #toggle {
            display: none;
        }

        #toggle:checked + ul {
            width: 100%;
            display:block;
        }
 
    }

    @media @desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            position: relative;

            label {
                display: none;
            }
    
            ul {
                display: inline-block;
                -webkit-box-shadow: 0 0 0 0 #fff;
                -moz-box-shadow: 0 0 0 0 #fff;
                 box-shadow: 0 0 0 0 #fff;
            }

            ul li {
                display: inline-block;
                line-height: 0;
                margin-right: 2.4rem;

                span {
                    color: @white;
                }

            }

            .log-in {
                .log-in-button();
            }

            .sign-up {
                .sign-up-button();  
            }
        }
    }
}  